* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: #0f172a;
    color: white;
}

html {
    scroll-behavior: smooth;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 50px;
    background: rgba(15,23,42,0.95);
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-left: 25px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.hamburger {
    display: none;
    cursor: pointer;
}

/* HERO */
.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg,#1e293b,#0f172a);
    text-align: center;
}

.hero h1 {
    font-size: 45px;
}

.btn {
    margin-top: 20px;
    padding: 12px 25px;
    background: #38bdf8;
    color: black;
    text-decoration: none;
    border-radius: 6px;
}

/* SECTION */
.section {
    padding: 100px 50px;
    text-align: center;
}

.dark {
    background: #1e293b;
}

.steps {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.step {
    background: #0f172a;
    padding: 20px;
    border-radius: 8px;
    width: 250px;
}

/* AUTH */
.auth-container {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.auth-box {
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
}

.auth-box input,
.auth-box select {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
}

.auth-box button {
    width: 100%;
    padding: 10px;
    background: #38bdf8;
    border: none;
    margin-top: 5px;
}

.logout {
    background: crimson;
}

/* CARD */
.card {
    background: #1e293b;
    padding: 30px;
    border-radius: 10px;
    display: inline-block;
}

.card input,
.card select {
    width: 250px;
    padding: 10px;
    margin: 8px;
}

.card button {
    padding: 10px 20px;
    background: #38bdf8;
    border: none;
}

footer {
    text-align: center;
    padding: 20px;
    background: #0f172a;
}

/* MOBILE */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        background: #1e293b;
        position: absolute;
        right: 0;
        top: 60px;
        width: 200px;
    }

    .hamburger {
        display: block;
    }

    .auth-container {
        flex-direction: column;
        align-items: center;
    }

    .steps {
        flex-direction: column;
        align-items: center;
    }
}
